.w2560 { width: 2560px; }
.w2048 { width: 2048px; }
.w1920 { width: 1920px; }
.w1680 { width: 1680px; }
.w1600 { width: 1600px; }
.w1536 { width: 1536px; }
.w1504 { width: 1504px; }
.w1440 { width: 1440px; }
.w1368 { width: 1368px; }
.w1280 { width: 1280px; }
.w1024 { width: 1024px; }
.w834 { width: 834px; }
.w820 { width: 820px; }
.w768 { width: 768px; }
.w414 { width: 414px; }
.w412 { width: 412px; }
.w393 { width: 393px; }
.w375 { width: 375px; }
.w360 { width: 360px; }

.h1440 { height: 1440px; }
.h1366 { height: 1366px; }
.h1200 { height: 1200px; }
.h1194 { height: 1194px; }
.h1180 { height: 1180px; }
.h1152 { height: 1152px; }
.h1024 { height: 1024px; }
.h1080 { height: 1080px; }
.h1003 { height: 1003px; }
.h912 { height: 912px; }
.h900 { height: 900px; }
.h896 { height: 896px; }
.h864 { height: 864px; }
.h851 { height: 851px; }
.h800 { height: 800px; }
.h768 { height: 768px; }
.h720 { height: 720px; }
.h640 { height: 640px; }


.other {
    height: 60vh;
    width: 80vw;
}

.outer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
}

.outer div {
    background-color: grey;
    border: solid 2px red;
}